<header class="d-flex flex-row nowrap justify-content-center p-1 shadow">
  <div class="container flex-grow-1 d-flex flex-row nowrap align-items-center justify-content-between">
    <a class="header-logo" href="{{ path('home') }}">
      <img src="{{ asset ('images/logo_forum.png')}}">
    </a>
    <div class="header-search p-4 flex-grow-1">
      <i class="fa-solid fa-search"></i>
      <input type="text">
    </div>
    <div>
      <button class="btn btn-primary me-2">Inscription</button>
      <button class="btn btn-warning">Connexion</button>
    </div>
  </div>
</header>