
:root {
  --primary: #007bff;
  --primary-dark: #0d47a1;
  --primary-light: #e7f9f9;
  --accent: #0652dd;
  --warning: #ea2027;
  --success: #009432;
  --font-family: 'Open Sans', sans-serif;
  --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 3px 1px rgb(60 64 67 / 15%);
  --border-radius: 3px;
  --gray-light: #ecf0f1;
  --border: 1px solid var(--gray-light);
  --color: #636466;
  --color-dark: #444;
  --color-primary: white;
  --gray: #636466;
  --gray-dark: #444;
  --footer-background: #0a3d62;

}
body {
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.header-search {
  border-radius: 8px;
  background-color: var(--gray-light);
  max-width: 400px;
}

.header-search input {
  border: 0;
  outline: 0;
  background-color: var(--gray-light);
}

.header-logo {
  width: 150px;
}

.header-logo img {
  max-width: 150px;
}

/*footer*/
footer {
  background-color: var(--primary-dark);
  color: var(--color-primary);
}